<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery.min.js"></script>
<script>

</script>
<body>
<a href="login.jsp"><h1>去登录！</h1></a>
<h1>当前用户:</h1><h1 th:text="${user.userName}"></h1>
<h1>您的手机号:</h1><h1 th:text="${user.userPhone}"></h1>
<a href="contact/addContact.jsp">添加联系人</a>
<table border="1">

    <tr>
        <td>联系人</td>
        <td>性别</td>
        <td>手机号</td>
        <td>操作</td>

    </tr>
    <tr th:each="contact:${contactList}">
        <td th:text="${contact.contactName}"></td>
        <td th:text="${contact.contactSex}"></td>
        <td th:text="${contact.contactPhone}"></td>
        <td>操作++</td>

    </tr>
</table>
</body>
</html>